<ion-header>
  <ion-toolbar>
    <ion-title>Registro de usuario</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email requied> </ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contrasenia</ion-label>
      <ion-input type="password" #password requied> </ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onRegister(email,password)" expand="block">Registro  </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>